<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1021146193780-971kt76ibo0641isa5630j6n7tliupnd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021146193780-971kt76ibo0641isa5630j6n7tliupnd</string>
	<key>API_KEY</key>
	<string>AIzaSyACV0zRiBOSRrKoyWPN9g238pUJA14FKSw</string>
	<key>GCM_SENDER_ID</key>
	<string>1021146193780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nerdyboys.Bulletin</string>
	<key>PROJECT_ID</key>
	<string>bulletin-596fa</string>
	<key>STORAGE_BUCKET</key>
	<string>bulletin-596fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021146193780:ios:afa00de8edb1c1501c1621</string>
</dict>
</plist>